<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.rockwellcollins.com/atc/resolute/Resolute" 
       class = "com.rockwellcollins.atc.resolute.resolute.ResolutePackage"
       genModel = "model/generated/Resolute.genmodel" /> 	
  </extension>
  <extension
         id="com.rockwellcollins.atc.resolute"
         name="Resolute"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.rockwellcollins.atc.resolute.Cli">
         </run>
      </application>
   </extension>
</plugin>
