<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.rockwellcollins.atc.resolute.analysis.external.resoluteExternalFunctionLibrary">
      <externalLibrary
            libraryClass="com.collins.trustedsystems.aace.analysis.AnalysisFunctions"
            name="a"
            typeClass="com.collins.trustedsystems.aace.analysis.AnalysisTypes">
      </externalLibrary>
   </extension>

</plugin>
