<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.rockwellcollins.atc.resolute.analysis.external.resoluteExternalFunctionLibrary">
      <externalLibrary
            libraryClass="com.rockwellcollins.atc.resolute.shellcmd.ResoluteShellCmdLibrary"
      		name="ShellCmd"
            typeClass="com.rockwellcollins.atc.resolute.shellcmd.ResoluteShellCmdLibraryType">
      </externalLibrary>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.rockwellcollins.atc.resolute.shellcmd.preferences.ShellCmdPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.rockwellcollins.atc.resolute.Resolute"
            class="com.rockwellcollins.atc.resolute.shellcmd.preferences.ShellCmdPreferencePage"
            id="com.rockwellcollins.atc.resolute.shellcmd.ShellCmd"
            name="ShellCmd">
      </page>
   </extension>
</plugin>
